<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo-Assign.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="bg-info text-black rounded-pill">Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="bg-info text-black rounded-pill">About</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="meals" routerLinkActive="bg-info text-black rounded-pill">Meals</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="team" routerLinkActive="bg-info text-black rounded-pill">Team</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="contacts" routerLinkActive="bg-info text-black rounded-pill">Contacts</a>
          </li>
         
        </ul>
       
      </div>
    </div>
  </nav>