
<nav class="navbar my-3 navbar-expand-lg bg-dark w-50 mx-auto rounded-pill navbar-dark">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="Seafood" routerLinkActive="bg-info text-black rounded-pill">Seafood</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="Pasta" routerLinkActive="bg-info text-black rounded-pill">Pasta</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="Breakfast" routerLinkActive="bg-info text-black rounded-pill">Breakfast</a>
          </li>
         
          
        </ul>
       
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
